:root {
  --Black: hsl(0, 0%, 11%);
  --Dark-Blue: hsl(215, 28%, 17%);
  --Dark-Blue-Light: hsl(215, 30%, 22%);
  --Line: hsl(215, 28%, 25%);
  --White: hsl(0, 0%, 100%);
  --Green: hsl(144, 70%, 58%);
  --Light-Green: hsl(160, 84%, 39%);
  --Medium-Grey: hsl(255, 5%, 84%);
}
