@use "../util/" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  width: 90%;
  margin-inline: auto;
  margin-block: 4rem;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--Black);
  line-height: 1.5;
}

h1 {
  line-height: 1.1;
}

button {
  border: none;
  font-family: inherit;
}
